{% load static %}
<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    <div class="card"
        style="width: 100%; margin: 10px; margin-right: 35px; border-radius: 20px; border-color: transparent; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
            <div style="display: flex; flex-direction: row">
                <a class="volunteer-link" href="{{ link }}">
                    <h4 class="card-title" style="cursor: pointer;">{{ eventname }}, {{ organization }} </h4>
                </a>
            </div>
            <p class="card-text">{{ datetime }} | {{ location }}</p>
            <!-- <a href={{ url }} class="btn btn-outline-secondary">Sign Up</a> -->
            <!-- <a href="/command/{{ card.id }}/delete" class="btn btn-primary">Delete</a> -->
        </div>
    </div>
</div>