{% extends '_base.html' %}
{% load static %}
{% block content %}

<div id="content-wrapper">
    <div id="event-list">
        <h3>Beach Cleanups</h3>
        {% for event_i in events %}
            {% component "event" eventname=event_i.eventname organization=event_i.organization link=event_i.link date_and_time=event_i.date_and_time location=event_i.location placeid=event_i.placeid %}
        {% endfor %}
    </div>
    <div id="google-map"></div>
    <script 
    src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap"
    defer
    ></script>
</div>

<script>
    function initMap(data){
        const map = new google.maps.Map(document.getElementById("google-map"));

        // this will be supplied from the database
        const markerData = [
            { position: { lat: 51.5944418, lng: 4.7492914 } },
            { position: { lat: 51.524837, lng: -0.083244 } },
        ]
        
        // create markers and update the map to fit
        const bounds = new google.maps.LatLngBounds()
        var markers = []
        for (var data of markerData) {
            var marker = new google.maps.Marker({
                position: data.position,
                map: map
            })
            markers.push(marker)
            bounds.extend(marker.getPosition())
        }

        map.fitBounds(bounds)
    }
</script>
{% endblock content %}