{% extends '_base.html' %}
{% load static %}
{% block content %}

<div id="content-wrapper">
    <div id="events">
        <h3>Beach Cleanups</h3>
        <div id="events-list">
            {% for event_i in events %}
                {% component "event" eventname=event_i.eventname organization=event_i.organization link=event_i.link datetime=event_i.datetime location=event_i.location %}
            {% endfor %}
        </div>
    </div>
    <div id="google-map"></div>
    <script 
        src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap"
        defer
    ></script>
</div>

<script>
    function initMap(data){
        const map = new google.maps.Map(document.getElementById("google-map"));
        const events = {{ events_serialized|safe }}
        
        // create markers and update the map to fit
        const bounds = new google.maps.LatLngBounds()
        var markers = []
        for (var event of events) {
            if (event.fields.lat != null){
                var marker = new google.maps.Marker({
                    position: { lat: event.fields.lat, lng: event.fields.lng} ,
                    map: map,
                })
                markers.push(marker)
                bounds.extend(marker.getPosition())
            }
        }

        map.fitBounds(bounds)
    }
</script>
{% endblock content %}